<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>New York Examiner</title>
  <link rel="stylesheet" href="/stylesheets/main.css">
</head>

<body>
  <center>
  <h1>Submit Your Articles Here</h1>
  <img src="https://image.freepik.com/free-icon/news-logo_318-38132.jpg" alt="News Logo" style="width:150px;height:128px;">
  <div class="nav_links">
    <h4><a href="http://localhost:4567/articles">Go Back To Articles</a></h4>
    <h4><a href="http://localhost:4567/">Go Back To Home Page</a></h4>
  </div>
  <hr size="8", color="black">
  <br>
  <form action="/articles" method="post">
    <label for="article_title">New Article Title:</label><br>
    <input type="text" id="article_title" name="article_title" required>
    <br>
    <label for="article_description">Article Description:</label><br>
    <input type="text" minlength=20 id="article_description" name="article_description" required>
    <br>
    <label for="article_url">Article URL:</label><br>
    <input type="url" pattern="https?://.+" id="article_url" name="article_url" required>
    <br>
    <input type="submit" value="Submit">
  </form>
  </center>
</body>
</html>
