<!DOCTYPE html>
<html lang="en">
<head>
  <title>Grocery List</title>
  <link href="/app.css" rel="stylesheet" media="all">
</head>

<h1>Grocery List</h1>

<ul id="grocery-list">
  <% @groceries.each do |item| %>
    <li class="item">
      <a href="groceries/<%= item["id"] %>"><%= item["name"] %></a>
    </li>
  <% end %>
</ul>

<fieldset>
  <legend>Add Item</legend>
  <form method="post" action="/groceries">
    <label for="name">Name</label>
    <input type="text" name="name" id="name" required/>

    <input type="submit" value="Submit" />
  </form>
</fieldset>
