nav {
  background-color: #3498DB;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: inherit;
}

nav h1 {
  font-family: 'Alegreya';
  color: white;
  position: relative;
  left: 25px;
  margin-top: 15px;
  margin-bottom: 0px;
}

nav h3 {
  margin-top: 5px;
  color: white;
  font-style: normal;
  font-weight: lighter;
  position: relative;
  left: 25px;
}

.quote {
  background-color: #2ECC71;
  margin: 20px auto 20px auto;
  width: 650px;
  padding: 10px 10px;
  border: solid;
  border-color: #21AD5D;
  border-width: 4px;
  font-family: 'Source Sans Pro';
  font-weight: bold;
}

.quoted-from {
  text-align: right;
  margin-right: 20px;
}

.try-it-now {
  background-color: #E74C3C;
  border: solid;
  border-width: 4px;
  border-radius: 20px;
  border-color: #BF3628;
  width: 350px;
  padding: 0px 15px;
  margin-top: auto;
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Alegreya';
  text-align: center;
  color: white;
  font-style: italic;
}

.try-it-now a {
  margin: auto;
  color: white;
  font-size: 24px;
}

.blue-page-section {
  font-family: 'Source Sans Pro';
  background-color: #2C3E50;
  color: white;
  padding: 50px 50px;
}

footer {
  background-color: #1C2224;
  padding: 15px 20px;
  margin: 0 auto;
  text-align: center;
}

footer a {
  color: #3498DB;
}
