<h1><%= @contact.name %></h1>
<h2>Information</h2>
<ul>
  <li>First Name: <b><%= @contact.first_name %></b></li>
  <li>Last Name: <b><%= @contact.last_name %></b></li>
  <li>Phone Number: <b><%= @contact.phone_number %></b></li>
</ul>
